html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: flex;
    background: rgb(25, 30, 35) linear-gradient(rgb(25, 30, 35), rgb(15, 25, 30)) no-repeat;
    background-attachment: fixed;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: steelblue;
    transition-duration: .2s;
  }
  
  a:hover {
    color: mediumslateblue;
  }
  
  a:focus {
    color: crimson;
  }
  
  header {
    padding: 1em;
  }
  
  header h1 {
    text-align: center;
    font-variant: small-caps;
    margin: 0;
    color:black;
  }
  
  footer {
    margin: auto auto .5em auto;
  }
  
  footer > a {
    background-color: black;
    padding: .5em;
    border: thin solid;
    border-radius: 4px;
  }
  
  footer > a > strong {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: double;
  }
  
  input, button {
    font: inherit;
  }
  
  li.done {
    background-color: black !important;
    color: white !important;
  }
  
  li.done span {
    text-decoration: line-through;
    text-decoration-color: red;
  }
  
  .done-button {
    background-color: transparent;
    color: limegreen;
  }
  
  .done-button:after {
    content: "✓";
  }
  
  .remove-button {
    color: crimson;
    background-color: rgb(40, 50, 65);
    margin-left: auto;
  }
  
  .remove-button:after {
    content: "✖";
  }
  
  .list-move, .list-enter-active, .list-leave-active {
    transition: all .2s !important;
  }
  
  .list-enter-from, .list-leave-to {
    opacity: 0;
    transform: scale(.9);
  }
  
  .list-leave-active {
    position: absolute;
  }
  
  #app {
    margin: 0 auto;
    min-width: min-content;
    width: 100%;
    max-width: 90em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    padding: 1em;
    color: gainsboro;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  
  #add-form {
    display: flex;
  }
  
  #add-form > * {
    transition-property: color, background-color, outline;
    transition-duration: .15s;
    font-size: clamp(1em, 3vw, 1.2em);
    padding: .5em;
    border: none;
  }
  
  #add-form > input[type="text"] {
    flex: 1;
    color: dimgray;
    background-color: white;
    border-radius: 5px 0 0 5px;
  }
  
  #add-form > button.enabled-btn {
    cursor: pointer;
    background-color: deepskyblue;
    border-radius: 0 5px 5px 0;
  }

  #add-form > button.disabled-btn {
    cursor: not-allowed;
    background-color: rgb(197, 194, 194);
    border-radius: 0 5px 5px 0;
    pointer-events: none;
  }
  
  #show-radios {
    display: flex;
  }
  
  #show-radios > input[type="radio"] {
    appearance: none;
    width: 100%;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    padding: .5em;
    margin: 0;
    transition-property: color, background-color, outline;
    transition-duration: .15s;
  }
  
  #show-radios > input[type="radio"]:enabled {
    color: black;
    background-color: aliceblue;
  }
  
  #show-radios > input[type="radio"]:hover {
    background-color: lightcyan;
  }
  
  #show-radios > input[type="radio"]:focus {
    z-index: 1;
    outline: thick solid rgba(0, 150, 255, .6);
  }
  
  #show-radios > input[type="radio"]:checked {
    background-color: aquamarine;
  }
  
  #show-radios > input[type="radio"]:disabled {
    cursor: not-allowed;
  }
  
  #show-radios > input[type="radio"]:after {
    content: attr(value);
    font-variant: small-caps;
    text-transform: capitalize;
  }
  
  #show-radios > input[type="radio"]:first-child {
    border-right: thin solid cadetblue;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  #show-radios > input[type="radio"]:last-child {
    border-left: thin solid cadetblue;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  #list {
    position: relative;
    padding: 0;
    margin-top: -.4em;
  }
  
  #list > li {
    list-style-type: none;
    display: flex;
    gap: .6em;
    background-color: silver;
    color: black;
    width: 100%;
    word-break: break-word;
    box-shadow: 0 0 2px;
    margin: .4em 0;
    transition-property: color, background-color;
    transition-duration: .2s;
  }
  
  #list > li > span {
    padding: .5em 0;
  }
  
  #list > li > button {
    user-select: none;
    min-height: 100%;
    padding: 0 .5em;
    border: none;
    border-radius: none;
    transition-property: color, background-color;
    transition-duration: .2s;
    cursor: pointer;
  }